.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #e0d6d3, #ece9e7); 
  }
  img {
    max-width: 40%;
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; 
  }
  h2 {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 2.5rem;
    color: #089a9a; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    font-weight: bold; 
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #a9076e; 
    margin: 5px 0;
  }
  p.created-at {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #080005;
    font-style: italic;
  }
  button {
    background-color: #008CBA;
    color: rgb(222, 9, 158); 
    border: none;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 20px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  button:hover {
    background-color: #005f73; 
  }